.root {
  .worksTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 46px;
    font-family: "Times New Roman", Times, serif;
  }
  .worksWrapper {
    margin-top: 20px;
  }
}
