.root {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-left: 40px;
  .name {
    font-size: 60px;
    margin: 0;
  }
  .text {
    font-size: 32px;
    margin: 0;
  }
}
