.root {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  .github {
    background-image: url('../../../img/github.png');
    height: 200px;
    width: 200px;
    margin: 50px;
    cursor: pointer;
  }
  .instagram {
    background-image: url('../../../img/instagram.png');
    height: 200px;
    width: 200px;
    margin: 50px;
    cursor: pointer;
  }
}