.root {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  .github {
    background-image: url("../../../img/github.png");
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
  }
  .instagram {
    background-image: url("../../../img/instagram.png");
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
  }
}
